<header class="header-area">
    <!-- top bar   -->
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-container">
                
                <div class="announcement {% if section.settings.enable_announcement == false %} d-none {% endif %}">
                    <i class="fas fa-bullhorn"></i>
                    <span>{{ section.settings.announcement }}</span>
                </div>
                <div class="top-bar-credential {% if section.settings.enable_announcement == false %} justify-content-center w-100 {% endif %} ">
                    <div class="locality">
                        <div class="lan">
                            <i class="fas fa-globe-asia"></i>
                            <span>English</span>
                        </div>
                        <div class="currency">
                            <i class="far fa-money-bill-alt"></i>
                            <span>
                                
                            </span>
                        </div>
                    </div>
                    <div class="shiping-zone">
                        Shipping to: <span id="country">Vietnam</span>
                    </div>    
                    <div class="user-area">
                        {% if shop.customer_accounts_enabled %}
                            {% if customer %}
                                <a href="/account"><i class="fa fa-user"></i> {{ customer.first_name | truncate: 15 }}</a>
                            {% else %}
                                <span class="signin">{{ 'Sign in' }}</span>
                                <span class="register">{{ 'Register' }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!-- menu area -->
    <nav class="menu-area">
        <div class="container">
            <div class="menu-area-container">
                <a href="{{ shop.url }}" class="logo">
                    {% if section.settings.logo %}
                        <img src="{{ section.settings.logo | image_url: width: 200, height: 200 }}" alt="1992">
                    {% else %}
                        <h3>{{ shop.name }}</h3>
                    {% endif %}
                    
                </a>                    
                <ul class="main-menu">
                    {% for link in linklists[section.settings.main_linklist].links %}

                        {%- assign child_list_handle = link.title | handleize -%}
                        {% comment %}
                        Check if third-level nav exists on each parent link.
                        {% endcomment %}
                        {%- assign three_level_nav = false -%}
                        {% if link.links != blank %}
                            {% if link.levels == 2 %}
                                {%- assign three_level_nav = true -%}
                            {% endif %}
                        {% endif %}

                        {% if link.links != blank %}
                            <li class="mega-menu">
                                <a href="#"> {{ link.title }} </a>
                                <div class="submenu">
                                    <div class="menu-catagories">
                                        <span class="submenu-title">Categories</span>
                                        <div class="sub-submenu">
                                            
                                            {% for block in section.blocks %}
                                                <ul class="sub-submenu-items">
                                                    {% for childlink in linklists[block.settings.mega_cat_col_1].links %}
                                                        <li>
                                                            <a href=" {{ childlink.url }} "> {{ childlink.title }} </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="menu-collections">
                                        <span class="submenu-title">Colections</span>
                                        {% for block in section.blocks %}
                                            <ul class="sub-submenu-items">
                                                {% for childlink in linklists[block.settings.mega_collections].links %}
                                                <li>
                                                    <a href=" {{ childlink.url }} ">{{ childlink.title }}</a>
                                                </li> 
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    </div>
                                    
                                    <div class="menu-brand">
                                            <a href="{{ section.settings.brand_link }}">
                                                <img src=" {{ section.settings.brand_img | image_url: width: 100, height: 100 }} " alt="">
                                                <div class="trend-season">
                                                    <p class="collection-name">{{ section.settings.brand_name }}</p>
                                                    <span class="collection-text">{{ section.settings.brand_text }}</span>
                                                </div>
                                            </a>
                                    </div> 
                                </div>
                        {% else %}
                            <li>
                                <a href=" {{ link.url }} "> {{ link.title }} </a>
                            </li>   
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="search-cart">
                    <button class="search">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="#" class="cart">
                        <i class="fas fa-shopping-cart cart-icon"></i>
                        <span class="cart-num">0</span>
                    </a>
                    
                    <a id="cart-number" href="/cart"></a>

                </div>
                <div class="menu-bar d-md-none d-sm-block">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>
</header> <!-- end header area -->

<!-- start mobile sidebar menu area -->
<aside class="mobile-menu-area">
    <div class="close-mobile-menu">
        <a href="javascript:void(0);"><i class="fas fa-times"></i></a>
    </div>
    <!-- side-mobile-menu start -->
    <nav class="mobile-menu">
        <ul id="mobile-menu-active">
            {% for link in linklists[section.settings.main_linklist].links %}
                
                
                {% comment %}
                Check if third-level nav exists on each parent link.
                {% endcomment %}
                {%- assign three_level_nav = false -%}
                {% if link.links != blank %}
                    {% if link.levels == 2 %}
                        
                    {% endif %}
                {% endif %}

                {% if link.links != blank %}
                    <li class="mega-menu has-dropdown">
                        <a href="#">{{ link.title }}</a>
                        <ul class="submenu">
                            <li class="menu-catagories has-dropdown-1">
                                <a href="#" class="submenu-title">Categories</a>
                                <ul class="sub-submenu">
                                    {% for block in section.blocks %}
                                        <ul class="sub-submenu-items">
                                            {% for childlink in linklists[block.settings.mega_cat_col_1].links %}
                                                <li>
                                                    <a href=" {{ childlink.url }} "> {{ childlink.title }} </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="menu-collections has-dropdown-1">
                                <a href="#" class="submenu-title">Colections</a>
                                <ul class="sub-submenu">
                                    {% for block in section.blocks %}
                                        <ul class="sub-submenu-items">
                                            {% for childlink in linklists[block.settings.mega_collections].links %}
                                                <li>
                                                    <a href=" {{ childlink.url }} "> {{ childlink.title }} </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="menu-brand">
                                <a href="{{ section.settings.brand_link }}">
                                    <img src=" {{ section.settings.brand_img | image_url: width: 100, height: 100 }} " alt="">
                                    <div class="trend-season">
                                        <p class="collection-name">{{ section.settings.brand_name }}</p>
                                        <span class="collection-text">{{ section.settings.brand_text }}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <!-- side-mobile-menu end -->
</aside>


{% schema %}
{
  "name": {
    "en": "Header"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_announcement",
      "label": "Enable Announcement",
      "default": true
    },
    {
      "type": "textarea",
      "id": "announcement",
      "label": "Announcement Text",
      "default": {
        "en": "Welcome to 1992 Online Shop! Let’s start to shopping NOW !!!"
      }
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Upload Logo"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "id": "brand_img",
      "type": "image_picker",
      "label": "Brand Image"
    },
    {
      "id": "brand_link",
      "type": "url",
      "label": "Brand Link"
    },
    {
      "id": "brand_name",
      "type": "text",
      "label": "Brand Name",
      "default": "Denim"
    },
    {
      "id": "brand_text",
      "type": "text",
      "label": "Brand text",
      "default": "Trends of Season"
    }
  ],
  "blocks": [
    {
      "type": "Mega_Menu",
      "name": "Mega Menu",
      "limit": 3,
      "settings": [
        {
          "id": "mega_cat_col_1",
          "type": "link_list",
          "label": "Categories"
        }
      ]
    },
    {
      "type": "mega_collections",
      "name": "Mega Collections",
      "limit": 1,
      "settings": [
        {
          "id": "mega_collections",
          "type": "link_list",
          "label": "Mega Collections"
        }
      ]
    }
  ]
}
{% endschema %}

